.card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    background-color: #314189;
}

.card:hover {
    transform: scale(1.05);
}


.card-image {
    width: 100%;
    object-fit: cover;
}

.card-name {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}